{% extends 'core/base.html' %}
{% load static %}
{% block titulo %}
    {% include 'core/components/titulo1.html' with titulo="App Coder" %}
{% endblock titulo %}
{% block contenido %}
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-5">
            <img class="img-fluid rounded mb-4 mb-lg-0"
                 src="{% static 'core/img/estudiantes.webp' %}"
                 alt="Home Page"
                 width="100%" />
        </div>
        <div class="col-lg-7">
            <h2 class="font-weight-light">Estudiantes:</h2>
            <h3 class="font-weight-light"></h3>
            <p>
                Ya seas un estudiante de secundaria ansioso por explorar nuevas áreas de conocimiento, un universitario en busca de complementar tu formación académica, o un profesional en busca de desarrollo profesional, aquí encontrarás un espacio donde tu sed de conocimiento será saciada.
            </p>
        </div>
    </div>
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-5">
            <h3 class="font-weight-light">
                <ul>
                    {% for estudiante in estudiantes %}<li>{{ Estudiante.nombre }}</li>{% endfor %}
                </ul>
            </h3>
        </div>
        <div class="col-lg-7">
            <h3 class="font-weight-light">Buscador de Estudiantes:</h3>
            <div class="py-lg-4 ">
                <form action="{% url 'estudiantes:home' %}" method="get" class="d-flex">
                    <input type="text" name="consulta" placeholder="Buscar..." class="form-control me-2">
                    <button type="submit" class="btn btn-primary me-2">Buscar</button>
                    <button type="button" class="btn btn-secondary" onclick="this.form.reset();">Cancelar</button>
                </form>
            </div>
            <ul>
                {% for estudiante in Estudiantes %}<li>{{ estudiante }}</li>{% endfor %}
            </ul>
        </div>
    </div>
{% endblock contenido %}
