{% extends 'core/base.html' %}
{% load static %}
{% block titulo %}
    {% include 'core/components/titulo1.html' with titulo="App Coder" %}
{% endblock titulo %}
{% block contenido %}
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-5"></div>
    </div>
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-12 align-items-center my-5">
        <div class="col-lg-12">
            <div class="col-lg-7">
                <h3 class="font-weight-light">Buscador de Comisiones:</h3>
                <div class="py-lg-4 ">
                    <form action="{% url 'comisiones:home' %}" method="get">
                        <input type="text"
                               name="consulta"
                               placeholder="Buscar..."
                               class="form-control me-2">
                        <p></p>
                        <button type="submit" class="btn btn-primary me-2">Buscar</button>
                        <button type="button" class="btn btn-secondary me-2" onclick="this.form.reset();">Cancelar</button>
                        <a class="btn btn-success" href="{% url 'comisiones:create' %}">Crear</a>
                    </form>
                </div>
            </div>
            <h3>Detalle de Comisiones Abiertas</h3>
            <table>
                <thead>
                    <tr>
                        <th style="width: 150px; background-color: #282828; color: #ffffff;">Comision</th>
                        <th style="width: 150px; background-color: #282828; color: #ffffff;">Curso</th>
                        <th style="width: 200px; background-color: #282828; color: #ffffff;">Profesor</th>
                        <th style="width: 200px; background-color: #282828; color: #ffffff;">Estudiante</th>
                        <th style="width: 300px; background-color: #282828; color: #ffffff;">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for comision in comisiones %}
                        <tr>
                            <td>{{ comision.nombre }}</td>
                            <td>{{ comision.curso }}</td>
                            <td>{{ comision.profesor }}</td>
                            <td>
                                {% for estudiante in comision.estudiante.all %}
                                <p>{{estudiante.nombre}}</p>
                                {% endfor %}
                            </td>
                            <td>
                                <a class="btn btn-info btn-sm me-1"
                                   href="{% url 'comisiones:detail' comision.id %}">Detalle</a>
                                <a class="btn btn-warning btn-sm me-1"
                                   href="{% url 'comisiones:update' comision.id %}">Cambiar</a>
                                <a class="btn btn-danger btn-sm"
                                   href="{% url 'comisiones:delete' comision.id %}">Borrar</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock contenido %}
