{% extends 'core/base.html' %}
{% load static %}
{% block titulo %}
    {% include 'core/components/titulo1.html' with titulo="App Coder" %}
{% endblock titulo %}
{% block contenido %}
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-5">
            <img class="img-fluid rounded mb-4 mb-lg-0"
                 src="{% static 'core/img/cursos.webp' %}"
                 alt="Home Page"
                 width="100%" />
        </div>
        <div class="col-lg-7">
            <h2 class="font-weight-light">Nuestros Cursos:</h2>
            <h3 class="font-weight-light"></h3>
            <p>
                Explora nuestra amplia selección de cursos, aprende a tu propio ritmo con acceso ilimitado a recursos de aprendizaje de alta calidad y obtén certificados de finalización reconocidos que destacarán en tu currículum. Da el siguiente paso en tu camino hacia el éxito profesional con nuestros cursos. ¡Inscríbete hoy y comienza a alcanzar tus metas!
            </p>
            <a class="btn btn-primary"
               href="https://wa.me/541130305683"
               target="_blank">WhatsApp</a>
        </div>
    </div>
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-5">
            <h3 class="font-weight-light">
                <ul>
                    {% for comision in comisiones %}<li>{{ comision.curso }}</li>{% endfor %}
                </ul>
            </h3>
        </div>
        <div class="col-lg-7">
            <h3 class="font-weight-light">Buscador de Cursos:</h3>
            <div class="py-lg-4 ">
                <form action="{% url 'cursos:home' %}" method="get">
                    <input type="text"
                           name="consulta"
                           placeholder="Buscar..."
                           class="form-control me-2">
                    <p></p>
                    <button type="submit" class="btn btn-primary me-2">Buscar</button>
                    <button type="button" class="btn btn-secondary me-2" onclick="this.form.reset();">Cancelar</button>
                    <a class="btn btn-success" href="{% url 'cursos:create' %}">Crear</a>
                </form>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Curso</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for curso in cursos %}
                        <tr>
                            <td>{{ curso.nombre }}</td>
                            <td>
                                <a class="btn btn-info btn-sm me-1"
                                   href="{% url 'cursos:detail' curso.id %}">Detalle</a>
                                <a class="btn btn-warning btn-sm me-1"
                                   href="{% url 'cursos:update' curso.id %}">Cambiar</a>
                                <a class="btn btn-danger btn-sm"
                                   href="{% url 'cursos:delete' curso.id %}">Borrar</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock contenido %}
