{% extends 'core/base.html' %}

{% block titulo %}
    Profesores: Borrar un profesor
{% endblock titulo %}

{% block contenido %}
<p></p>
<div style="border: 2px solid #000; padding: 20px; background-color: #fff; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); text-align: center;">   
    <p class="fs-5 fst-italic">¿Confirma eliminar "{{ object.nombre }}"?</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirmar</button>
        <a class="btn btn-secondary me-2" href="{% url 'profesores:home' %}">Cancelar</a>
    </form>
</div>
{% endblock contenido %}