{% extends 'core/base.html' %}

{% block titulo %}
    Comisiones: 
    {% if form.instance.pk %}
        Editar
    {% else %}
        Crear
    {% endif %}
    Curso
{% endblock titulo %}

{% block contenido %}
    
    <form method="post">
        {% csrf_token %}
        <p></p>
        <table>
            {{ form.as_table }}
        </table>
        <p></p>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-secondary me-2" href="{% url 'comisiones:home' %}">Cancelar</a>
    </form>
 

{% endblock contenido %}