{% extends 'core/base.html' %}
{% block titulo %}
    Comisiones: Detalle de un comision
{% endblock titulo %}

{% block contenido %}

    <ul>
        <li>Nombre: {{ object.nombre }}</li>
        <li><p>Comision:</p>
            {% for comision in object.comisiones.all %}
            <p>{{comision.nombre}} - {{comision.curso}}</p>
            {% endfor %}
        </li>
    </ul>

    <div class="fs-3 pb-4">
        <a href="{% url 'estudiantes:home' %}">Volver</a>
    </div>

{% endblock contenido %}