{% extends 'core/base.html' %}
{% load static %}
{% block titulo %}
    {% include 'core/components/titulo1.html' with titulo="App Coder" %}
{% endblock titulo %}
{% block contenido %}
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-5">
            <img class="img-fluid rounded mb-4 mb-lg-0"
                 src="{% static 'core/img/about.webp' %}"
                 alt="Home Page"
                 width="100%" />
        </div>
        <div class="col-lg-7">
            <h3>¡Hola y bienvenido/a a mi página!</h3>

            <p>Mi nombre es Cristian Paganno y estoy encantado/a de que estés aquí. Permíteme contarte un poco sobre quién soy y qué me motiva.
            Soy Bancario, pero apasionado por la tecnologia y los sistemas. Desde muy joven, he sentido una curiosidad innata por el mundo de la computadoras, lo que me llevó a explorar y sumergirme en este fascinante mundo.</p>
            Estoy emocionado de embarcarme en esta aventura  y espero que juntos podamos aprender, crecer y compartir experiencias.
            ¡Gracias por visitar mi página de "Acerca de mí"! No dudes en ponerte en contacto conmigo si tienes alguna pregunta o simplemente quieres charlar.
            <p></p>
            <p>¡Saludos cordiales!

            Cristian.</p>

        </div>

    </div>
    
{% endblock contenido %}