{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>
            {% block title %}
                App Coderhouse
            {% endblock title %}
        </title>
        <!-- Favicon-->
        <link rel="icon"
              type="image/x-icon"
              href="{% static 'core/assets/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'core/css/styles.css' %}" rel="stylesheet" />
        <style>
            /* Add a bottom border to all table rows */
            table tr {
                border-bottom: 1px solid black;
            }
        
            /* Optional: Add a border to the last row to avoid extra line at the end */
            table tr:last-child {
                border-bottom: none;
            }
        </style>
    </head>
    <body>
        <!-- Responsive navbar-->
        {% include 'core/components/navbar.html' %}
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            {% block contenido %}
            {% endblock contenido %}
        </div>
        <!-- Footer -->
        {% include 'core/components/footer.html' %}
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'core/js/scripts.js' %}"></script>
    </body>
</html>
