{% extends 'core/base.html' %}

{% block titulo %}
    Login
{% endblock titulo %}

{% block contenido %}
<p></p>
<div style="border: 2px solid #000; padding: 20px; background-color: #fff; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
<div class="row gx-4 gx-lg-5 align-items-center my-5" >
    <div class="col-lg-5">
    </div>
    <div class="col-lg-7">
        <h3 class="mt-4">Ingreso al Sistema</h3>
        <p>Por favor ingrese sus credenciales</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="next" value="{% url 'core:home' %}">
            <p></p>
            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
            <a href="{% url 'core:home' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>

</div>
</div>
{% endblock contenido %}